body{
    background-color: burlywood;
}

header{
    position: relative;
    display: block;
    background-color: rebeccapurple;
    text-align: center;
    outline: auto;
}

nav{
    width: auto;
    outline: auto;
}

.navigation-list{
    list-style-type: none;
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: auto;
}

.nav-list-item:hover{
    background-color: red;
    cursor: pointer;
}

.ttc-board{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 50px auto auto;
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto;
    outline: auto;
}

.ttc-square{
    width: auto;
    height: auto;
}

.ttc-square:hover{
    background-color: rgb(107, 90, 67);
    cursor: pointer;
}
